<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Careers Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
          
</head>
<body>
    <div class="container">
    <h1 class="text-center">Chuck Careers</h1>

    <img id="banner" class="img-fluid" src="../static/banner.jpg" width="" height="" alt="HTML Dog">

    <h2 class="text-center mt-2 mb-4">About Chuck</h2>

    <p class="lead">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure corrupti perferendis assumenda libero, totam pariatur incidunt sequi possimus labore quidem impedit. A neque incidunt libero recusandae ducimus ad aliquid veniam!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem totam natus recusandae tempore, maiores libero in fuga architecto aliquid? Eaque quod facere aspernatur nobis. A libero reiciendis quam consequuntur id?</p>


    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    <p>TODO - Show the jobs here</p>

    <div class="text-center mt-4">
        <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
        <p>Copyright 2024, Chuck1</p>
    </div>
    
    </div>
</body>
</html>
